:root{
    /*colors*/
    --onyx : hsl(0, 0%, 25%);
    --azure : hsl(219, 77%, 60%);
    --white : hsl(0, 0%, 100%);
    --platinuim : hsl(0, 0%, 91%);
    --gainsboro : hsl(0, 0%, 90%);
    --red-salsa : hsl(0, 77%, 60%);
    --dim-gray : hsl(0, 0%, 39%);
    --davys-gray : hsl(0, 0%, 30%);
    --spanish-gray : hsl(0, 0, 62%);
    --quick-silver : hsl(0, 0%, 64%);
    /**
    *typography
    */
    --fs-28 : 28px;
    --fs-24 : 24px;
    --fs-18 : 18px;
    --fs-15 : 15px;
    --fs-14 : 14px;

    --fw-5 : 500x;
    --fw-6 : 600;
    --fw-7 : 700;

    /*others*/
    --px: 60px;
    --radius : 5px;
}
/*__________________________________________*/
/*reset all*/
button{
    background: none;
    border: none;
    font: inherit;
    cursor: pointer;
}
label, img{
    display: block;
}
input{
    /* border: none; */
    width: 100%;
    font: inherit;
}
input:focus{outline: 2px solid var(--azure);}
input::-webkit-inner-spin-button,
input::-webkit-outer-spin-button{
    appearance: none;
    -webkit-appearance: none;
    margin: 0;
}
::-webkit-scrollbar{width: 8px;}
::-webkit-scrollbar-track{background: transparent;}
::-webkit-scrollbar-thumb{background: hsl(0, 0%, 80%);border-radius: 10px;}
::-webkit-scrollbar-thumb:hover{background: hsl(0, 0%, 70%);}
/*___________________________________________*/
.infospyement{
    padding: 0 30px 0 30px;
}
.precheck{
    padding-bottom: 10px;
    text-align: center;
    font-size: 18px;
}
.cart-container{
    max-width: 1440px;
    height: 100%;
    margin: auto;
    display: flex;
    flex-direction: column;
}
.cart-heading{
    font-size: var(--fs-28);
    font-weight: var(--fw-6);
    color: var(--onyx);
    border-bottom: 1px solid var(--gainsboro);
    padding: 20px var(--px);
    display: flex;
    align-items: center;
    gap: 20px;
}
.cart-heading i{font-size: 40px; }
.item-flex{
    display: flex;
    flex-grow: 1;
}
/*checkout style*/
.checkout{
    width: 70%;
    padding: 40px var(--px);
    background: var(--white);
    border-right: 1px solid var(--gainsboro);
}
.section-heading{
    color: var(--onyx);
    margin-bottom: 30px;
    font-size: var(--fs-24);
    font-weight: var(--fw-5);
}
.form-cart{
    display: none;
}
.form-cart.active{
    display: contents;
}
.form-tmoney{
    display: none;
}
.form-tmoney.active{
    display: contents;
}
.form-flooz{
    display: none;
}
.form-flooz.active{
    display: contents;
}
.payment-form{
    display: none;
}
.payment-form.active{
    margin-bottom: 40px;
    display: contents;
}
.payment-method{
    display: flex;
    align-items: center;
    gap: 30px;
    margin-bottom: 40px;
}
.payment-method .method{
    border: 1px solid var(--quick-silver);
    border-radius: var(--radius);
    width: 50%;
    align-items: center;
    padding: 15px 30px;
    gap: 20px;
    cursor: pointer;
}
.payment-method .method.selected{
    border-color: var(--azure);
}
.payment-method .method i{
    font-size: 20px;
}
.payment-method .method .checked{
    margin-left: auto;
    color: var(--quick-silver);
}
.payment-method .method .checked.fa-solid.fa-circle-check{
    color: var(--azure);
}
.payment-method .method .checked.bx.bx-check-circle{
    color: var(--azure);
}
.label-default{
    padding-left: 10px;
    margin-bottom:5px;
    font-size: var(--fs-14);
    color: var(--spanish-gray);
}
.input-default{
    background: var(--platinuim);
    border-radius: var(--radius);
    color: var(--davys-gray);
    height: 5rem;
}
.payment-form.active input{
    padding: 10px 15px;
    font-size: var(--fs-18);
    font-weight: var(--fw-5);
}

.cardholder-name,
.card-number{
    margin-bottom: 20px;
}
.card-number input,
.cvv input{
    letter-spacing: 3px;
}
.input-flex{
    display: flex;
    align-items: center;
    gap: 30px;
}

.input-flex .expire-date,
.input-flex .cvv{
    width: 50%;
}
.expire-date .input-flex{
    color: var(--spanish-gray);
    gap: 13px;
}
.expire-date .input-flex input{text-align: center;}
.btn-pay{
    display: none;
}
.btn-pay.active{
    display: block;
    border-radius: var(--radius);
    margin-top: 5rem;
}
.p-btn{
    border-radius: var(--radius);
}
.p-btn:active{transform: scale(0.99);}
.p-btn:focus{
    color: var(--white);
    background: var(--azure);
    outline: 2px solid var(--azure);
    outline-offset: 2px;
}
.btn-primary{
    background: var(--azure);
    font-weight: var(--fw-5);
    color: var(--white);
    padding: 13px 45px;
}
.btn-primary b{margin-right: 10px;font-size: var(--fs-18);}
/*cart section style*/
.cart{
    width: 40%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}
.cart-item-box{
    padding: 40px var(--px);
    margin-bottom: auto;
}
.product-card:not(:last-child){
    margin-bottom: 20px;
}
.product-card .p-card{
    position: relative;
    display: flex;
    align-items: flex-start;
    gap: 20px;
}
.p-card .product-image{
    border-radius: var(--radius);
}
.p-card .details .product-name{
    font-size: var(--fs-15);
    font-weight: var(--fw-6);
    color: var(--dim-gray);
    margin-bottom: 10px;
}
.p-card .details .p-wrapper{
    display: flex;
    gap: 20px;
}
.product-qty{
    display: flex;
    align-items: center;
    gap: 10px;
}
.product-qty button{
    background: var(--platinuim);
    width: 20px;
    height: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.product-qty button:active,
.product-close-btn:active i{
    transform: scale(0.95);
}
.product-qty button i{
    font-size: 10px;
    width: auto;
}
.product-close-btn{
    position: absolute;
    top: 0;
    right: 0;
}
.product-close-btn i{
    font-size: 20px;
    color: var(--quick-silver);
}
.product-close-btn:hover i{
    color: var(--red-salsa);
}
.discount-token{
    padding: 40px var(--px);
    border-top: 1px solid var(--gainsboro);
    border-bottom:1px solid var(--gainsboro);
}
.wrapper-flex{
    align-items: center;
    gap: 30px;
    display: flex;
}
.wrapper-flex form input{
    padding: 12px 15px;
    font-weight: var(--fw-6);
    letter-spacing: 2px;
}

.btn-outline{
    padding: 10px 25px;
    margin-top: 2rem;
    justify-content: center;
    border: 1px solid var(--azure);
    color: var(--azure);
}
.btn-outline:hover{
    background: var(--azure);
    color: var(--white);
}
.amount{padding: 40px var(--px);}
.amount > div{
    display: flex;
    justify-content: space-between;
}
.amount > div:not(:last-child){
    margin-bottom: 10px;
}
.amount .total{
    font-size: var(--fs-18);
    font-weight: var(--fw-7);
    color: var(--onyx);
}


/*________________________________________________*/

/*Responsive*/
/*_______________________________________________*/

@media(max-width:1200px){
    .item-flex{
        flex-direction: column-reverse;
    }
    /* checkout responsive*/
    .checkout{
        width: 100%;
        border-right: none;
    }
    .btn-primary{width: 100%;}
    /*cart section responsive*/
    .cart{
        display: grid;
        grid-template-columns: 1fr 1fr;
        width: 100%;
        border-bottom: 1px solid var(--gainsboro);
    }
    .cart .p-wrapper{
        margin-top: auto;
    }
    .cart .cart-item-box{
        border-right:1px solid var(--gainsboro) ;
        margin-bottom: 0;
    }
    .discount-token{border-top: none;}
}
@media(max-width:768px){
    :root{--px:40px;}
    .cart{grid-template-columns: 1fr;}
    .discount-token{border-top: 1px solid var(--gainsboro);}
    .wrapper-flex{gap:20px;}
}
@media(max-width:567px){
    :root{--px:20px;}
    .payment-method, .input-flex{flex-direction: column;gap: 20px;}
    .payment-method .method{width: 100%;}
    .input-flex .expire-date, .input-flex.cvv{width: 100%;}
    .expire-date .input-flex{flex-direction: row;}
}
/* ============================================================================================================== */
.alert{
    background: red;
    padding: 20px 40px;
    margin-right: 40%;
    min-width: 420px;
    position: absolute;
    right: 0;
    top: 150px;
    overflow: hidden;
    border-radius: 4px;
    border-left: 8px solid #219150;
}
.alert.show{
    animation: show_slide 1s ease forwards;
}
@keyframes show_slide {
    0%{
        transform: translateX(100%);
    }
    40%{
        transform: translateX(-10%);
    }
    80%{
        transform: translateX(0);
    }
    100%{
        transform: translateX(-10px);
    }
}
.alert.hide{
    display: none;
}
.alert .fa-times{
    position: absolute;
    top: 50%;
    left: 20px;
    transform: translateY(-50%);
    color: white;
    font-size: 30px;
}
.alert .msg{
    padding: 0 20px;
    font-size: 18px;
    color: white;
}